@model GestionDesProduits.Models.ProduitPromo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProduitPromo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomProduit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomProduit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Magasins)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Magasins.NomParVille)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categories.NomCategorie)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
