@model GestionDesProduits.Models.Produits

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Produits</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           
        </dt>
        <dd class = "col-sm-10">
           <img src="@Model.ImageUrl" width="100px" height="100px" >
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomProduit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomProduit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Magasins)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Magasins.NomParVille)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categories.NomCategorie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDebutPromo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDebutPromo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFinPromo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFinPromo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prixProduit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prixProduit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prixProduitEnPromo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prixProduitEnPromo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
