@model IEnumerable<GestionDesProduits.Models.Produits>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form class="form-inline my-2 my-lg-0" asp-controller="Produits" asp-action="Filter" style="padding-right: 25px;">
    <div class="col">
        <input name="searchString" type="text" class="form-control" placeholder="chercher un produit spécifique" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>
    <div class="col">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">chercher<i class="bi bi-search"></i></button>
    </div>
</form>
  @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
<p>
    <a asp-action="Create">Create New</a>
</p>
                    }
<table class="table">
    <thead>
        <tr>
            <th>
               
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomProduit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Magasins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateDebutPromo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFinPromo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prixProduit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prixProduitEnPromo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                 <img src="@item.ImageUrl" width="100px" height="100px">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomProduit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Magasins.NomParVille)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categories.NomCategorie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDebutPromo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFinPromo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prixProduit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prixProduitEnPromo)
            </td>
                <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 

                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id"> Delete </a>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
